/* navbar */
#navbar{  margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
}

#navbar .navbar-brand{
    color: #F1B82D;
    font-weight: 600; 
    font-size: 1.75rem; 
}

.container-fluid{
    background-color: black; 
    padding-top: 1rem;
    padding-bottom: 1rem; 
    font-family: 'Source Code Pro', monospace;
}

#navbar a{
  color: #F1B82D;
}

#navbar a:hover{
  color: white; 
}
#navbar .navbar-toggler{ color: #F1B82D;}
#mca-icon{
  border-radius: 5%;
  margin-right: 1rem; 
  height: 5rem; 
}
/*  i cant get the waffle menu to change to gold for whatever reason */

/*  */
body{
    background-color: #333333;
    color:white; 
    font-family: 'Lato', sans-serif;
}

body h2{
  color: #F1B82D;
   font-family: 'Source Code Pro', monospace;
   font-size: 600; 
}

body p{
  font-family: 'Lato', sans-serif;
}
.body{
  margin-left: 2rem; }

.center{
  text-align: center; 
}

.caption{color: white; 
margin-right:2rem; }

.terminal{
  background-color: black; 
  color: white; 
  font-family: 'Source Code Pro', monospace;
}

.terminal a{
  text-decoration: none; 
  color: #F1B82D; 
}

.terminal a:hover{
  color: white; 
}
.terminal h2{
  margin-left: 5%;
}

.terminal h3{
  margin-left: 5%;
  font-size: 1rem; 
  color: #F1B82D;
}
.terminal h1{
font-weight: 600; 
margin-left: 5%;
padding-top: 1rem; 
font-size: 1rem; 
}

#line{
  display: flex;
  flex-direction: row; 
}


#line .command{
  margin-left: 1rem; 
  margin-top: -.25rem; 
}
#line h2{
  padding-top: 1.25rem; 
  padding-right: 1.5rem; 
  font-size: 1rem; 
}

.sig{
  background-color: black;
  margin-left: 4rem;
  margin-right: 4rem; 
  display: flex; 
  flex-direction: row; 
  justify-content: space-between; 
}

.sig h1{
  padding: 1rem; 
  color: #F1B82D; 
  font-family: 'Source Code Pro', monospace;
  font-weight: 600; 
  font-size: 2.5rem;  
}

.accordion-collapse{
	background-color: black;
}

.show{
	background-color: black;
}

.plus{
  margin-right: 1.5rem; 
  display: inline; 
}

.minus{
  display: none; 
  margin-right: 1.5rem; 
}

.sig .name{
  margin-left: 1.5rem; 
}

.sig-desc{
  margin-left: 4rem;
  margin-right:4rem; 
  background-color: #222121; 
  color: white; 
  display: none; 
}

.sig-desc p{
  padding: 1rem; 
  font-family: 'Lato', sans-serif;
}

.sig-desc h2{
  font-size: 2rem;
  color: white; 
  font-weight: 600;
  margin-left: 1rem; 
}

.sig-desc h3{
  margin-left: 1rem; 
  font-weight: 400;
  font-family: 'Source Code Pro', monospace;
  font-size: 1.5rem; 
}

footer{
  background-color: black;
   color: #F1B82D; 
   font-family: 'Source Code Pro', monospace;
    width: 100%;
    bottom: 0;
    left: 0;
}

footer h3{
  padding: 1rem; 
}

.backgroundAccent {
	background-color: #F1B82D;
}


/* Footer stuff */
ul#orgs li {
  list-style-type: none;
}


footer a{
  text-decoration: none; 
  color: #F1B82D;
}

footer a:hover{
  color: white; 
}

.footersm {
  list-style: none;
}

.social-img {
  width: 30%;
  height: 60px;
  float: left;
  margin: 5px;
}

.social-img-centered {
  width: 50%;
  float: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#code {
  text-align: right;
  margin-right: 40px;
}

/* Bootstrap cards */
.card {
  min-width: 400px;
  max-width: 400px;
}

.card-title {
  color: black;
}

.card-text {
  color: black;
}
/* .card-img-top {
  min-width: 400px;
  max-width: 400px;
  min-height: 400px;
  max-height: 400px;
} */

#SIG_accordion button{
   padding: 1rem; 
  color: #F1B82D; 
  font-family: 'Source Code Pro', monospace;
  font-weight: 600; 
  font-size: 2.5rem; 
  background: black;
}

